.Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 3rem;
  color: var(--textColor);
  border: solid 1px var(--textColor);
  border-radius: 0.7rem;
}
.Container div:hover {
  background-color: #555;
  color: var(--ColorHover);
}
.tag {
  text-decoration: none;
}
