.Container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  height: 20rem;
  border-radius: 1rem;
}
.Container h2 {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 21px;
  color: #555;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .Container {
    width: 100%;
    height: 12rem;
    flex-direction: column;
    margin: 4rem;
  }
}
