.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  background-color: #eee;
  color: #d26eac;
}

.Container span {
  display: flex;
  margin: 2rem;
  text-align: center;
}
.Container span a {
  text-decoration: none;
  color: #d26eac;
}
.Container span a:hover {
  color: rgb(239, 131, 84);
}
