.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
  gap: 3rem;
}
.Container img {
  width: 90%;
  border-radius: 1rem;
  border: 1px solid #d26eac;
  mix-blend-mode: multiply;
}
