.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
  gap: 3rem;
}
.Container img {
  width: 90%;
  border-radius: 20%;
}

@media only screen and (max-width: 1024px) {
  .Container {
    width: 100%;
    flex-direction: column;
  }
}
