* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #555;
}
@font-face {
  font-family: 'Menu';
  src: url('../public/fontes/Battered\ Cooper.ttf') format('truetype');
}

@font-face {
  font-family: 'Menu1';
  src: url('../public/fontes/SebastianTextUCF.otf') format('truetype');
}

:root {
  --mainColor: #555;
  --mainColorLight: #e0ffff;
  --secondaryColor: #db2b39;
  --textColor: #ffc1c1;
  --ColorHover: #eee;
}
